## Exploring the Data

In [4]:
import json

# Path to the uncompressed users.json file
users_file = 'data/users.json'

# Function to load line-delimited JSON
def load_ndjson(filepath):
    data = []
    with open(filepath, 'r') as f:
        for line in f:
            if line.strip():  # Skip empty lines
                data.append(json.loads(line))
    return data

# Load the users data
users_data = load_ndjson(users_file)

# Check the structure of the first few records
print(users_data[:1])

[{'_id': {'$oid': '5ff1e194b6a9d73a3a9f1052'}, 'active': True, 'createdDate': {'$date': 1609687444800}, 'lastLogin': {'$date': 1609687537858}, 'role': 'consumer', 'signUpSource': 'Email', 'state': 'WI'}]

In [6]:
import pandas as pd

# Convert the loaded JSON data into a pandas DataFrame
users_df = pd.DataFrame(users_data)

# Inspect the first few rows
users_df.head()

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
1,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
2,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
3,{'$oid': '5ff1e1eacfcf6c399c274ae6'},True,{'$date': 1609687530554},{'$date': 1609687530597},consumer,Email,WI
4,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI

In [8]:
import pandas as pd

# Load the JSON files into pandas DataFrames
users_df = pd.read_json('data/users.json', lines=True)
receipts_df = pd.read_json('data/receipts.json', lines=True)
brands_df = pd.read_json('data/brands.json', lines=True)

In [9]:
# Check basic structure and data types
print(users_df.info())
print(receipts_df.info())
print(brands_df.info())

# Check first few rows for initial inspection
print(users_df.head())
print(receipts_df.head())
print(brands_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 495 entries, 0 to 494
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           495 non-null    object
 1   active        495 non-null    bool
 2   createdDate   495 non-null    object
 3   lastLogin     433 non-null    object
 4   role          495 non-null    object
 5   signUpSource  447 non-null    object
 6   state         439 non-null    object
dtypes: bool(1), object(6)
memory usage: 23.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1119 entries, 0 to 1118
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   _id                      1119 non-null   object
 1   bonusPointsEarned        544 non-null    float64
 2   bonusPointsEarnedReason  544 non-null    object
 3   createDate               1119 non-null   object
 4   dateScanned              1119 non-null   object
 5   finishedDate             568 non-null    object
 6   modifyDate               1119 non-null   object
 7   pointsAwardedDate        537 non-null    object
 8   pointsEarned             609 non-null    float64
 9   purchaseDate             671 non-null    object
 10  purchasedItemCount       635 non-null    float64
 11  rewardsReceiptItemList   679 non-null    object
 12  rewardsReceiptStatus     1119 non-null   object
 13  totalSpent               684 non-null    float64
 14  userId                   1119 non-null   object
dtypes: float64(4), object(11)
memory usage: 131.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1167 entries, 0 to 1166
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           1167 non-null   object
 1   barcode       1167 non-null   int64
 2   category      1012 non-null   object
 3   categoryCode  517 non-null    object
 4   cpg           1167 non-null   object
 5   name          1167 non-null   object
 6   topBrand      555 non-null    float64
 7   brandCode     933 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 73.1+ KB
None
                                    _id  active               createdDate  \
0  {'$oid': '5ff1e194b6a9d73a3a9f1052'}    True  {'$date': 1609687444800}
1  {'$oid': '5ff1e194b6a9d73a3a9f1052'}    True  {'$date': 1609687444800}
2  {'$oid': '5ff1e194b6a9d73a3a9f1052'}    True  {'$date': 1609687444800}
3  {'$oid': '5ff1e1eacfcf6c399c274ae6'}    True  {'$date': 1609687530554}
4  {'$oid': '5ff1e194b6a9d73a3a9f1052'}    True  {'$date': 1609687444800}

                  lastLogin      role signUpSource state
0  {'$date': 1609687537858}  consumer        Email    WI
1  {'$date': 1609687537858}  consumer        Email    WI
2  {'$date': 1609687537858}  consumer        Email    WI
3  {'$date': 1609687530597}  consumer        Email    WI
4  {'$date': 1609687537858}  consumer        Email    WI
                                    _id  bonusPointsEarned  \
0  {'$oid': '5ff1e1eb0a720f0523000575'}              500.0
1  {'$oid': '5ff1e1bb0a720f052300056b'}              150.0
2  {'$oid': '5ff1e1f10a720f052300057a'}                5.0
3  {'$oid': '5ff1e1ee0a7214ada100056f'}                5.0
4  {'$oid': '5ff1e1d20a7214ada1000561'}                5.0

                             bonusPointsEarnedReason  \
0  Receipt number 2 completed, bonus point schedu...
1  Receipt number 5 completed, bonus point schedu...
2                         All-receipts receipt bonus
3                         All-receipts receipt bonus
4                         All-receipts receipt bonus

                 createDate               dateScanned  \
0  {'$date': 1609687531000}  {'$date': 1609687531000}
1  {'$date': 1609687483000}  {'$date': 1609687483000}
2  {'$date': 1609687537000}  {'$date': 1609687537000}
3  {'$date': 1609687534000}  {'$date': 1609687534000}
4  {'$date': 1609687506000}  {'$date': 1609687506000}

               finishedDate                modifyDate  \
0  {'$date': 1609687531000}  {'$date': 1609687536000}
1  {'$date': 1609687483000}  {'$date': 1609687488000}
2                       NaN  {'$date': 1609687542000}
3  {'$date': 1609687534000}  {'$date': 1609687539000}
4  {'$date': 1609687511000}  {'$date': 1609687511000}

          pointsAwardedDate  pointsEarned              purchaseDate  \
0  {'$date': 1609687531000}         500.0  {'$date': 1609632000000}
1  {'$date': 1609687483000}         150.0  {'$date': 1609601083000}
2                       NaN           5.0  {'$date': 1609632000000}
3  {'$date': 1609687534000}           5.0  {'$date': 1609632000000}
4  {'$date': 1609687506000}           5.0  {'$date': 1609601106000}

   purchasedItemCount                             rewardsReceiptItemList  \
0                 5.0  [{'barcode': '4011', 'description': 'ITEM NOT ...
1                 2.0  [{'barcode': '4011', 'description': 'ITEM NOT ...
2                 1.0  [{'needsFetchReview': False, 'partnerItemId': ...
3                 4.0  [{'barcode': '4011', 'description': 'ITEM NOT ...
4                 2.0  [{'barcode': '4011', 'description': 'ITEM NOT ...

  rewardsReceiptStatus  totalSpent                    userId
0             FINISHED        26.0  5ff1e1eacfcf6c399c274ae6
1             FINISHED        11.0  5ff1e194b6a9d73a3a9f1052
2             REJECTED        10.0  5ff1e1f1cfcf6c399c274b0b
3             FINISHED        28.0  5ff1e1eacfcf6c399c274ae6
4             FINISHED         1.0  5ff1e194b6a9d73a3a9f1052
                                    _id       barcode        category  \
0  {'$oid': '601ac115be37ce2ead437551'}  511111019862          Baking
1  {'$oid': '601c5460be37ce2ead43755f'}  511111519928       Beverages
2  {'$oid': '601ac142be37ce2ead43755d'}  511111819905          Baking
3  {'$oid': '601ac142be37ce2ead43755a'}  511111519874          Baking
4  {'$oid': '601ac142be37ce2ead43755e'}  511111319917  Candy & Sweets

       categoryCode                                                cpg  \
0            BAKING  {'$id': {'$oid': '601ac114be37ce2ead437550'}, ...
1         BEVERAGES  {'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, ...
2            BAKING  {'$id': {'$oid': '601ac142be37ce2ead437559'}, ...
3            BAKING  {'$id': {'$oid': '601ac142be37ce2ead437559'}, ...
4  CANDY_AND_SWEETS  {'$id': {'$oid': '5332fa12e4b03c9a25efd1e7'}, ...

                        name  topBrand                      brandCode
0  test brand @1612366101024       0.0                            NaN
1                  Starbucks       0.0                      STARBUCKS
2  test brand @1612366146176       0.0  TEST BRANDCODE @1612366146176
3  test brand @1612366146051       0.0  TEST BRANDCODE @1612366146051
4  test brand @1612366146827       0.0  TEST BRANDCODE @1612366146827

## Checking for missing values

In [10]:
# Check for missing values in each column
print("Missing values in Users DataFrame:")
print(users_df.isnull().sum())

print("Missing values in Receipts DataFrame:")
print(receipts_df.isnull().sum())

print("Missing values in Brands DataFrame:")
print(brands_df.isnull().sum())

Missing values in Users DataFrame:
_id              0
active           0
createdDate      0
lastLogin       62
role             0
signUpSource    48
state           56
dtype: int64
Missing values in Receipts DataFrame:
_id                          0
bonusPointsEarned          575
bonusPointsEarnedReason    575
createDate                   0
dateScanned                  0
finishedDate               551
modifyDate                   0
pointsAwardedDate          582
pointsEarned               510
purchaseDate               448
purchasedItemCount         484
rewardsReceiptItemList     440
rewardsReceiptStatus         0
totalSpent                 435
userId                       0
dtype: int64
Missing values in Brands DataFrame:
_id               0
barcode           0
category        155
categoryCode    650
cpg               0
name              0
topBrand        612
brandCode       234
dtype: int64

## Checking for Duplicates

In [11]:
# Check for duplicate records in key fields like 'user_id', 'receipt_id', etc.
print("Duplicate records in Users DataFrame (by user_id):")
print(users_df.duplicated(subset=['_id']).sum())

print("Duplicate records in Receipts DataFrame (by receipt_id):")
print(receipts_df.duplicated(subset=['_id']).sum())

print("Duplicate records in Brands DataFrame (by brand_id):")
print(brands_df.duplicated(subset=['_id']).sum())

Duplicate records in Users DataFrame (by user_id):
283
Duplicate records in Receipts DataFrame (by receipt_id):
0
Duplicate records in Brands DataFrame (by brand_id):
0

## Investigating data types

In [13]:
# Check for data types and fix them if necessary
print("Receipts DataFrame data types:")
print(receipts_df.dtypes)

# Convert total_spent to numeric if it's not already
receipts_df['totalSpent'] = pd.to_numeric(receipts_df['totalSpent'], errors='coerce')

Receipts DataFrame data types:
_id                         object
bonusPointsEarned          float64
bonusPointsEarnedReason     object
createDate                  object
dateScanned                 object
finishedDate                object
modifyDate                  object
pointsAwardedDate           object
pointsEarned               float64
purchaseDate                object
purchasedItemCount         float64
rewardsReceiptItemList      object
rewardsReceiptStatus        object
totalSpent                 float64
userId                      object
dtype: object

In [21]:
def extract_date(json_obj):
    try:
        return pd.to_datetime(json_obj['$date'], unit='ms')
    except (TypeError, KeyError):
        return pd.NaT

# Apply this function to all relevant date columns
receipts_df['createDate'] = receipts_df['createDate'].apply(extract_date)
receipts_df['dateScanned'] = receipts_df['dateScanned'].apply(extract_date)
receipts_df['finishedDate'] = receipts_df['finishedDate'].apply(extract_date)
receipts_df['modifyDate'] = receipts_df['modifyDate'].apply(extract_date)
receipts_df['pointsAwardedDate'] = receipts_df['pointsAwardedDate'].apply(extract_date)
receipts_df['purchaseDate'] = receipts_df['purchaseDate'].apply(extract_date)

# Verify the changes
receipts_df.dtypes

_id                                object
bonusPointsEarned                 float64
bonusPointsEarnedReason            object
createDate                 datetime64[ns]
dateScanned                datetime64[ns]
finishedDate               datetime64[ns]
modifyDate                 datetime64[ns]
pointsAwardedDate          datetime64[ns]
pointsEarned                      float64
purchaseDate               datetime64[ns]
purchasedItemCount                float64
rewardsReceiptItemList             object
rewardsReceiptStatus               object
totalSpent                        float64
userId                             object
purchase_date              datetime64[ns]
dtype: object

In [22]:
# Convert the date fields in users data to datetime
users_df['createdDate'] = users_df['createdDate'].apply(extract_date)
users_df['lastLogin'] = users_df['lastLogin'].apply(extract_date)

# Verify the changes
users_df.dtypes

_id                     object
active                    bool
createdDate     datetime64[ns]
lastLogin       datetime64[ns]
role                    object
signUpSource            object
state                   object
dtype: object

In [24]:
# Checking data types of the other two tables (Brands and Users)
brands_data_types = brands_df.dtypes
users_data_types = users_df.dtypes

brands_data_types, users_data_types

(_id              object
 barcode           int64
 category         object
 categoryCode     object
 cpg              object
 name             object
 topBrand        float64
 brandCode        object
 dtype: object,
 _id                     object
 active                    bool
 createdDate     datetime64[ns]
 lastLogin       datetime64[ns]
 role                    object
 signUpSource            object
 state                   object
 dtype: object)

## Investigating receipts with total spend = 0

In [16]:
# Check for negative or suspicious values in total_spent or points_earned
print("Receipts with negative or zero total_spent:")
print(receipts_df[receipts_df['totalSpent'] <= 0])

Receipts with negative or zero total_spent:
                                      _id  bonusPointsEarned  \
15   {'$oid': '5ff1e1e90a7214ada1000569'}                NaN
81   {'$oid': '5ff4ce3c0a720f05230005c4'}                NaN
141  {'$oid': '5ff73be90a720f052300060a'}                NaN
144  {'$oid': '5ff794600a7214ada1000647'}                NaN
175  {'$oid': '5ff8da570a720f05c5000015'}                NaN
179  {'$oid': '5ff8da7d0a720f05c500001c'}                NaN
282  {'$oid': '6000d4aa0a720f05f3000072'}                NaN
396  {'$oid': '6009eb000a7214ada2000003'}              250.0
424  {'$oid': '600aff160a720f053500000c'}              500.0
544  {'$oid': '60132b890a7214ad50000013'}                NaN
559  {'$oid': '60145a540a720f05f8000116'}                NaN
642  {'$oid': '601830cd0a720f05f800034f'}                NaN
656  {'$oid': '60182f390a7214ad500002b8'}                NaN
681  {'$oid': '60189c920a7214ad2800003a'}                NaN
727  {'$oid': '601b32160a7214ad28000221'}                NaN

                               bonusPointsEarnedReason  \
15                                                 NaN
81                                                 NaN
141                                                NaN
144                                                NaN
175                                                NaN
179                                                NaN
282                                                NaN
396  Receipt number 3 completed, bonus point schedu...
424  Receipt number 2 completed, bonus point schedu...
544                                                NaN
559                                                NaN
642                                                NaN
656                                                NaN
681                                                NaN
727                                                NaN

                   createDate               dateScanned  \
15   {'$date': 1609687529000}  {'$date': 1609687529000}
81   {'$date': 1609879100000}  {'$date': 1609879100000}
141  {'$date': 1610038249000}  {'$date': 1610038249000}
144  {'$date': 1609996096000}  {'$date': 1609996096000}
175  {'$date': 1610144343000}  {'$date': 1610144343000}
179  {'$date': 1610144381000}  {'$date': 1610144381000}
282  {'$date': 1610667178000}  {'$date': 1610667178000}
396  {'$date': 1611262720000}  {'$date': 1611262720000}
424  {'$date': 1611333398000}  {'$date': 1611333398000}
544  {'$date': 1611869065000}  {'$date': 1611869065000}
559  {'$date': 1611946580000}  {'$date': 1611946580000}
642  {'$date': 1612198093000}  {'$date': 1612198093000}
656  {'$date': 1612197689000}  {'$date': 1612197689000}
681  {'$date': 1612225682000}  {'$date': 1612225682000}
727  {'$date': 1612395030000}  {'$date': 1612395030000}

                 finishedDate                modifyDate  \
15                        NaN  {'$date': 1609687529000}
81                        NaN  {'$date': 1609879100000}
141                       NaN  {'$date': 1610038249000}
144                       NaN  {'$date': 1610039297000}
175                       NaN  {'$date': 1610144344000}
179                       NaN  {'$date': 1610144381000}
282                       NaN  {'$date': 1610667178000}
396  {'$date': 1611262746000}  {'$date': 1611262755000}
424  {'$date': 1611333421000}  {'$date': 1611333433000}
544                       NaN  {'$date': 1611869065000}
559                       NaN  {'$date': 1611946580000}
642                       NaN  {'$date': 1612198093000}
656                       NaN  {'$date': 1612197690000}
681                       NaN  {'$date': 1612225683000}
727                       NaN  {'$date': 1612395031000}

            pointsAwardedDate  pointsEarned              purchaseDate  \
15                        NaN           NaN                       NaN
81                        NaN           NaN                       NaN
141                       NaN           NaN                       NaN
144                       NaN           NaN                       NaN
175                       NaN           NaN                       NaN
179                       NaN           NaN                       NaN
282                       NaN           NaN                       NaN
396  {'$date': 1611262746000}         250.0  {'$date': 1611187200000}
424  {'$date': 1611333421000}         500.0  {'$date': 1611273600000}
544                       NaN           NaN                       NaN
559                       NaN           NaN                       NaN
642                       NaN           NaN                       NaN
656                       NaN           NaN                       NaN
681                       NaN           NaN                       NaN
727                       NaN           NaN  {'$date': 1546473600000}

     purchasedItemCount                             rewardsReceiptItemList  \
15                  0.0  [{'needsFetchReview': True, 'needsFetchReviewR...
81                  0.0  [{'needsFetchReview': True, 'needsFetchReviewR...
141                 0.0  [{'needsFetchReview': True, 'needsFetchReviewR...
144                 0.0  [{'needsFetchReview': True, 'needsFetchReviewR...
175                 0.0                                                NaN
179                 0.0  [{'needsFetchReview': True, 'needsFetchReviewR...
282                 0.0  [{'needsFetchReview': True, 'needsFetchReviewR...
396                 0.0                                                NaN
424                 0.0                                                NaN
544                 0.0  [{'needsFetchReview': True, 'needsFetchReviewR...
559                 0.0  [{'needsFetchReview': True, 'needsFetchReviewR...
642                 0.0  [{'needsFetchReview': True, 'needsFetchReviewR...
656                 0.0                                                NaN
681                 0.0  [{'needsFetchReview': True, 'needsFetchReviewR...
727                 0.0                                                NaN

    rewardsReceiptStatus  totalSpent                    userId purchase_date
15               FLAGGED         0.0  5ff1e1e9b6a9d73a3a9f10f6           NaT
81               FLAGGED         0.0  5ff4ce3cc1e2d0121a9b2fba           NaT
141              FLAGGED         0.0  5ff73be9eb7c7d31ca8a45bc           NaT
144              FLAGGED         0.0  5ff7946004929111f6e90ceb           NaT
175             REJECTED         0.0  5ff8da28b3348b11c9337ac6           NaT
179              FLAGGED         0.0  5ff8da7db3348b11c9337b6a           NaT
282              FLAGGED         0.0  6000d4aafb296c121a81b27e           NaT
396             FINISHED         0.0  6009e60450b3311194385009    2021-01-21
424             FINISHED         0.0  600afb2a7d983a124e9aded0    2021-01-22
544              FLAGGED         0.0  60132b8873c60b3ca7f3bae8           NaT
559              FLAGGED         0.0  60145a5467804a1228b20ded           NaT
642              FLAGGED         0.0  601830cdc8b50e11d8454a6f           NaT
656             REJECTED         0.0  60182f1dc8b50e11d84548c4           NaT
681              FLAGGED         0.0  60189c92c8b50e11d8454f5d           NaT
727             REJECTED         0.0  5a43c08fe4b014fd6b6a0612    2019-01-03

In [18]:
# Investigating receipts marked as "FINISHED" but with a totalSpent of 0

# Filter for receipts that are "FINISHED" but have a totalSpent of 0
finished_zero_spent_receipts = receipts_df[(receipts_df['rewardsReceiptStatus'] == 'FINISHED') & (receipts_df['totalSpent'] == 0)]

# Checking the number of these receipts and examining their key fields
finished_zero_spent_count = finished_zero_spent_receipts.shape[0]
finished_zero_spent_sample = finished_zero_spent_receipts[['userId', 'purchaseDate', 'pointsEarned', 'totalSpent', 'rewardsReceiptItemList']]

# Check for potential patterns, e.g., presence of 'needsFetchReview' or unusual item descriptions in rewardsReceiptItemList
needs_fetch_review_count = finished_zero_spent_receipts['rewardsReceiptItemList'].apply(lambda x: any(item.get('needsFetchReview', False) for item in x) if isinstance(x, list) else False).sum()

finished_zero_spent_count, needs_fetch_review_count, finished_zero_spent_sample.head()

(2,
 0,
                        userId              purchaseDate  pointsEarned  \
 396  6009e60450b3311194385009  {'$date': 1611187200000}         250.0
 424  600afb2a7d983a124e9aded0  {'$date': 1611273600000}         500.0

      totalSpent rewardsReceiptItemList
 396         0.0                    NaN
 424         0.0                    NaN  )

## Investigating purchase_date to see if there is any date from the future added

In [20]:
from datetime import datetime
import pandas as pd

# Function to extract '$date' from dict and convert to datetime
def convert_to_datetime(date_field):
    if isinstance(date_field, dict) and '$date' in date_field:
        # Convert timestamp (milliseconds) to datetime
        return pd.to_datetime(date_field['$date'], unit='ms')
    return pd.NaT  # Return 'Not a Time' if invalid

# Apply the conversion to the purchaseDate field
receipts_df['purchase_date'] = receipts_df['purchaseDate'].apply(convert_to_datetime)

# Now check for future dates
print("Receipts with purchase_date in the future:")
future_receipts = receipts_df[receipts_df['purchase_date'] > datetime.now()]
print(future_receipts)

Receipts with purchase_date in the future:
Empty DataFrame
Columns: [_id, bonusPointsEarned, bonusPointsEarnedReason, createDate, dateScanned, finishedDate, modifyDate, pointsAwardedDate, pointsEarned, purchaseDate, purchasedItemCount, rewardsReceiptItemList, rewardsReceiptStatus, totalSpent, userId, purchase_date]
Index: []

So all dates are completely fine since an empty data frame was returned

## Checking for Unique and consistent values

In [25]:
brands_category_unique = brands_df['category'].unique()
users_state_unique = users_df['state'].unique()
users_role_unique = users_df['role'].unique()
users_signUpSource_unique = users_df['signUpSource'].unique()

brands_category_unique, users_state_unique, users_role_unique, users_signUpSource_unique

(array(['Baking', 'Beverages', 'Candy & Sweets', 'Condiments & Sauces',
        'Canned Goods & Soups', nan, 'Magazines', 'Breakfast & Cereal',
        'Beer Wine Spirits', 'Health & Wellness', 'Beauty', 'Baby',
        'Frozen', 'Grocery', 'Snacks', 'Household', 'Personal Care',
        'Dairy', 'Cleaning & Home Improvement', 'Deli',
        'Beauty & Personal Care', 'Bread & Bakery', 'Outdoor',
        'Dairy & Refrigerated'], dtype=object),
 array(['WI', 'KY', 'AL', 'CO', 'IL', nan, 'OH', 'SC', 'NH'], dtype=object),
 array(['consumer', 'fetch-staff'], dtype=object),
 array(['Email', 'Google', nan], dtype=object))

## Checking for Outliers

In [26]:
# For Brands topBrand
brands_topBrand_outliers = brands_df['topBrand'].describe()

# For Users (days since last login)
users_df['days_since_login'] = (pd.Timestamp.now() - users_df['lastLogin']).dt.days
users_lastLogin_outliers = users_df['days_since_login'].describe()

brands_topBrand_outliers, users_lastLogin_outliers

(count    555.000000
 mean       0.055856
 std        0.229850
 min        0.000000
 25%        0.000000
 50%        0.000000
 75%        0.000000
 max        1.000000
 Name: topBrand, dtype: float64,
 count     433.000000
 mean     1359.270208
 std        51.310858
 min      1318.000000
 25%      1348.000000
 50%      1361.000000
 75%      1374.000000
 max      2351.000000
 Name: days_since_login, dtype: float64)

In [27]:
total_spent_outliers = receipts_df['totalSpent'].describe()
total_spent_outliers

count     684.000000
mean       77.796857
std       347.110349
min         0.000000
25%         1.000000
50%        18.200000
75%        34.960000
max      4721.950000
Name: totalSpent, dtype: float64

In [29]:
points_earned_outliers = receipts_df['pointsEarned'].describe()
points_earned_outliers

count      609.000000
mean       585.962890
std       1357.166947
min          0.000000
25%          5.000000
50%        150.000000
75%        750.000000
max      10199.800000
Name: pointsEarned, dtype: float64

In [30]:
purchased_item_count_outliers = receipts_df['purchasedItemCount'].describe()
purchased_item_count_outliers

count    635.00000
mean      14.75748
std       61.13424
min        0.00000
25%        1.00000
50%        2.00000
75%        5.00000
max      689.00000
Name: purchasedItemCount, dtype: float64